
@{
    ViewData["Title"] = "Places";
}

<h1>You should go to:</h1>

<ol>
    <li>Sweden</li>
    <li>Bristol</li>
    <li>Plymouth</li>
    <li>Somewhere in Scotland</li>
    <li>Spain</li>
    <li>Australia</li>
</ol>

